.mainbox{
    border: 2px solid rgb(255,255,255);
    width: 100%
    height: 2em;
    margin-bottom: 20px;
}

.box{
    box-sizing: border-box;
    width: 50%;
    
    float: left;
}

#hr{
   display: block;
   border-style: inset;
   border-width: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 10%;
}
#container {
    overflow:auto;
}
#map{
            height: 400px;
            width:100%;
        }

.mySlides {display: none;}
.movimg {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}